NEXT_PUBLIC_DEPLOYMENT_CHAIN=multi
NEXT_PUBLIC_DEPLOYMENT_ENV=mainnet
NEXT_PUBLIC_FEATURED_ASSET=

NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_CHAIN=solana:devnet
NEXT_PUBLIC_SOLANA_USDC_MINT=
NEXT_PUBLIC_SOLANA_TSLAX_MINT=H3sTci14zw4uVRNetdALKjv5KKHEab9M3rAJQ4BfhHaF
